<div class="filter">
  <label for="filter">Filter by: </label>
  <select id="filter" #selectFilter (change)="filterChanged.emit(selectFilter.value)">
    <option value="all">All</option>
    <option value="attending">Attending</option>
    <option value="notAttending">Not attending</option>
  </select>
</div>
<ol>
  <li *ngFor="let guest of guests">
    <pp-guest [guest]="guest"
              (toggleAttending)="toggleAttending(guest, $event)"
              (remove)="remove.emit(guest.id)"></pp-guest>
  </li>
</ol>
